[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = ">=1.11"
numpy = ">=1.18"
requests = ">=2.20"
scipy = ">=1.4"

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m unittest discover -s tests"