[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "==1.7.52"
numpy = "==1.14.5"
requests = ">=2.20.0"
scipy = "==1.1.0"

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.7"
